﻿.bank-avatar{
    width: 380px;
    min-height: 380px;
}
.bank-row {
    border: 1px solid #e0f0f1;
    display: flex;
}
.bank-row:not(:first-child){
    border-top: 0;
}
.bank-row-icon {
    font-size: 32px;
    border-right: 1px solid #e0f0f1;
    min-width: 80px;
    text-align: center;
}
.bank-button {
    background: #8892d6;
    padding: 10px;
    color: #fff;
    margin: 6px 15px;
    font-weight: 500;
}
.bank-button.active {
    background: #bfad4a;
}
.bank-button-content{
    padding: 6px;
    width: 270px;
    border: 1px solid #fff;
}
.bank-button-year{
    display: block;
    font-size: 30px;
}
.banks-header {
    background: #d2e0e0;
    padding: 16px 0;
}
.banks-item {
    padding: 8px 0;
}
.banks-item:nth-child(2n+1) {
    background: #eafbf4;
}
.banks-item-img {
    border: 1px dashed #eff5f5;
    display: inline-flex;
    min-height: 150px;
    align-items: center;
}
.banks-item-number {
    position: absolute;
    margin-left: -20px;
}
.banks-col-img {
    display: flex;
    padding-right: 0;
    align-items: center;
    padding-left: 30px;
}
.banks-item-text {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    align-items: center;
}
.download-report {
    color: #8892d6;
    border: 1px solid #dde2e6;
    padding: 4px 10px 6px;
    border-radius: 6px;
}
@media (min-width: 768px) {
    .banks-item-number {
        margin-left: -40px;
    }
    .banks-col-img {
        padding-left: 80px;
    }
}
