﻿.content-des {
    text-align: center;
    width: 85%;
    margin: auto;
}
.description {
    margin: 25px 0px 25px 0px;
}
.post-item-time {
    font-size: 13px;
}
.author-info {
    font-size: 13px;
}
.box-20-15 {
    padding-top: 2px;
}
.post-item-title {
    padding: 5px 0 5px 0;
}
.post {
    margin-top: 40px;
}
.list-post {
    margin-bottom: 90px;
}
.acticle h1{
    text-transform: uppercase;
}
/*.acticle img {    
    margin: 10px 0;
}*/
.post-item-left {
    box-shadow: 1px 6px 3px -3px #E7E7E7;
    display: flex;
    padding-top: 15px;
}
.post-item-left > a {
    width: 40%;
    float: left;
    padding-right: 12px;
}
.banking-item {
    box-shadow: 1px 6px 3px -3px #E7E7E7;
    display: flex;
    padding-top: 30px;
}
.banking-item > a {
    width: 40%;
    float: left;
    padding-right: 12px;
}
    .banking-item img{
        min-height: 100px;
    }
    .banking-item-more {
        padding-bottom: 10px;
        padding-right: 15px;
        text-align: right;
    }
.list-news-banking a {
    color: #4b8cd2;
}
.list-news-banking a:hover {
    color: #7d798e;
}
@media only screen and (max-width: 667px) {
    .description {
        margin: 25px 0px 0px 0px;
    }
    .list-post {
        margin-bottom: 50px;
    }
    .content-blog {
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .post {
        margin-top: 20px;
    }
    a.banking-item-title {
        color: #522929;
    }
}
