﻿a{
    text-decoration: none !important;
}
.top-space {
    height: 30px;
}
.layout-icon-search {
    position: absolute;
    top: 3px;
    font-size: 26px;
    opacity: 0.5;
    right: 27px;
}
    .layout-search {
        top: 25px;
        position: relative;
        display: flex;
    }
.home-logo {
    width: 100%;
    text-align: center;
    height: 63px;
}
.navbar-brand{
    width:100%;
}
    .navbar-brand img{
        margin:auto;
    }
    .shopping-cart::after {
        position: relative;
        top: -5px;
        right: -5px;
        content: "0";
        font-size: 18px;
    }

.shopping-cart {
    font-size: 36px;
    top: 25px;
    position: relative;
    display: flex;
}

.text-cart {
    position: relative;
    font-size: 13px;
    padding: 5px;
    top: 32px;
}

.content-shopping {
    display: flex;
    float: right;
    color: #253f57;
    padding-right: 5px;
    margin: auto;
}

.user-navbar {
    font-size: 30px;
    position: relative;
   
    top: 24px;
}

.left-bar {
    position: relative;
    top: 6px;
    display: flex;
}
@media screen and (max-width: 1230px) and (min-width: 763px){
    .text-cart {
        display:none !important;
    }
    .left-bar {
        float:right;
    }
    .content-shopping {
        display: flex;
        float: right;
        color: #253f57;
        padding-right: 10px;
        margin: auto;
    }
}