﻿.mn-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}
.mn-items {
    padding-right: 150px;
}
.mn-items li {
    font-weight: 500;
    font-size: small;
    margin: 0 10px;
}
.banner-search {
    background: #000;
    text-align: center;
    position: relative;
}
.banner-search input {
    margin: 14px auto;
    border-radius: 6px;
    padding: 8px;
    background: #345;
    border: none;
    width: 80%;
    color: #fff;
    padding-right: 46px;
}
.banner-search input::placeholder {
    color: #d0a7a7;
}
.banner-search .fa-search {
    margin-left: -30px;
    position: absolute;
    margin-top: 26px;
    color: #fff;
    cursor: pointer;
}
.one-edge-shadow {
    -webkit-box-shadow: 0px 4px 2px 0px #122;
    -moz-box-shadow: 0px 4px 2px 0px #122;
    box-shadow: 0px 4px 2px 0px #122;
}
.home-banner {
    /*background: url(/images/home-bg.png) no-repeat;
    min-height: 490px;*/
    background-size: cover;
    color: #fff;
    width: 100%;
}
    .home-banner .h1{
        padding-left: 50px;
    }
    .home-banner .h3 {
        padding-left: 50px;
    }
.bank-item-logo {
    height: 110px;
    display: flex;
    align-items: center;
    /*border: 1px dashed #eae7e7;*/
    background-position: center;
    overflow: hidden;
}
.home-bank-logo img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.home-bank-logo img:hover {
    -webkit-filter: none;
    filter: none;
}
.home-col-face{
    margin-bottom: 100px;
}
.home-more {
    position: absolute;
    width: 100%;
    margin-left: -15px;
    margin-top: 20px;
}
.home-about {
}
.home-slide {
    border: 2px solid #fff;
    min-height: 150px;
    max-width: 900px;
    border-radius: 20px;
    margin: 10px auto;
    display: grid;
    align-items: center;
}
.home-slide .carousel-item {
    text-align: center;
}
.home-slide-item {
    padding-left: 90px;
    padding-right: 60px;
    min-height: 120px;
    max-width: 700px;
    margin: auto;
    align-items: center;
    display: inline-grid;
}

.home-slide .carousel-indicators{
    bottom: -20px;
}
.home-slide i{
    font-size: 80px;
}
.slide-quote {
    position: absolute;
    width: 67px;
    height: 78px;
    background: url(/images/common-icons.png) -652px -106px no-repeat;
    margin-left: -76px;
    margin-top: -20px;
}
.home-mobile {
    min-height: 100px;
    padding-left: 80px;
    display: inline-flex;
    align-items: center;
}
    .home-mobile .fa {
        font-size: 90px;
        color: #009bdd;
        position: absolute;
        margin-left: -140px;
        margin-top: -14px;
    }
    .home-skype {
        min-height: 100px;
        padding-left: 116px;
        display: inline-flex;
        align-items: center;
    }
.home-skype .fa {
    font-size: 90px;
    color: #009bdd;
    position: absolute;
    margin-left: -150px;
    margin-top: -14px;
}
.home-location {
    background: url(/images/home-location.png) no-repeat;
    min-height: 100px;
    padding-left: 116px;
    display: inline-flex;
    align-items: center;
}
.home-address, .home-tell, .home-fax, .home-email, .home-web {
    padding: 10px;
    padding-left: 60px;
}
.home-address:before, .home-tell:before, .home-fax:before, .home-email:before, .home-web:before {
    content: "";
    width: 30px;
    height: 36px;
    position: absolute;
    background: url(/images/contact-icons.png) no-repeat;
    margin-left: -46px;
}
    .home-address:before {
        background-position: 0 0;
    }
    .home-tell:before {
        background-position: 0 -74px;
    }
    .home-fax:before {
        background-position: 0 -126px;
    }
    .home-email:before {
        background-position: 0 -176px;
    }
    .home-web:before {
        background-position: 0 -224px;
    }
.area-bottom img{
    max-width: 300px;
}
.bottom-menu a {
    padding: 6px 12px;
    display: inline-block;
}
    .bottom-menu a:hover {
        color: rgba(0,0,0,.7);
    }
.bottom-menu a:not(:first-child):before {
    content: "";
    width: 1px;
    height: 15px;
    border-left: 1px solid #fff;
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
}
.bottom-social{
    min-height: 120px;
}
.bottom-social a {
    padding: 14px 6px;
}
.bottom-social i:hover {
    background: #2b54c5;
    color: #fff;
}
.bottom-search{
    display: inline-block;
}
.bottom-search input {
    width: 320px;
    padding: 6px;
    padding-right: 40px;
    border: none;
}
.bottom-search .fa-search {
    position: absolute;
    margin-left: -28px;
    color: #63a0e2;
    margin-top: 6px;
    font-size: 20px;
    cursor: pointer;
}
.bottom-social a i {
    padding: 8px 10px;
    display: inline-block;
    background: #fff;
    color: #63a0e2;
    border-radius: 16px;
    width: 32px;
    height: 32px;
}
.bottom-copyright {
    border-top: solid 1px #fff;
    padding: 12px;
}
.tab-item{
    display: none;
}
.tab-item.active{
    display: inherit;
}
h1.normal {
    font-weight: normal;
    font-size: inherit;
    margin-bottom: 2px;
}
@media (min-width: 768px) {
    .home-logo {
    padding-left: 40px;
}
}
@media (max-width: 767px) {
    .home-banner {
        background-size: contain;
    }
}