﻿@model BLOG.Areas.Administrator.Models.Systems.FunctionViewModel
@{
    ViewData["Title"] = "Create permission";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div id="divList" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Create Permissions</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="frmAdd" asp-controller="Permissions" asp-action="Add" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">Key[Controller Name]</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="ControllerName" class="form-control" data-bind="value:ControllerName" maxlength="150">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">Action Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="ActionName" class="form-control" data-bind="value:ActionName" maxlength="150">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="Name" class="form-control" data-bind="value:Name" maxlength="150">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea name="Description" class="form-control" data-bind="value:Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Select menu group</label>
                                        <div class="col-sm-9">
                                            <select name="MenuGroupId" class="form-control" data-bind="foreach: MenuGroupOptions, value: MenuGroupId">
                                                <option data-bind="value: value, text: text"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Icon</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="Icon" class="form-control" data-bind="value:Icon" placeholder="fa fa-icon" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Order by</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="OrderBy" class="form-control" data-bind="value:OrderBy" placeholder="fa fa-icon" maxlength="9">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="clearfix form-actions submit-buttons text-center">
                                    <a class="btn btn-outline btn-danger" asp-controller="Permissions" asp-action="Index">Cancel</a>
                                    <button class="btn btn-success" type="button" value="Save" name="Submit" data-bind="click:Submit">
                                        <i class="fa fa-save"></i>
                                        Create
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
        var data = @Json.Serialize(Model);
        </script>
        <script src="/Content/adminpages/Permissions/create.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    }
}

