﻿@model BLOG.Areas.Administrator.Models.Systems.FunctionViewModel
@{
    ViewData["Title"] = "Permissions Management";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Permissions Management</h2>
    </div>
    <div class="col-lg-3 mt-xl-3 text-right">
        <a class="btn btn-success" asp-area="Administrator" asp-controller="Permissions" asp-action="Add"><i class="fa fa-plus"></i> Create</a>
    </div>
</div>
@if (Model != null)
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table id="datatablePermission" class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th> Permissions </th>
                                        <th colspan="@Model.GroupFunctionItems.Count" class="text-center">Groups</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        @foreach (var group in Model.GroupFunctionItems)
                                        {
                                            <th class="text-center role" data-id="@group.Id" data-groupname="@group.Name">
                                                @group.Name
                                                <label class="checkbox-inline i-checks">
                                                    <input type="checkbox" class="check-all" data-role="@group.Id" id="role_@group.Id" />
                                                    <label for="role_@group.Id"></label>
                                                </label>
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var permission in Model.FunctionItems)
                                    {
                                        <tr>
                                            <td style="width: 110px">
                                                <div class="action-buttons">
                                                    <a title='Edit' class='btn btn-success btn-circle btn-outline' asp-controller="Permissions" asp-action="Edit" asp-route-id="@permission.Id">
                                                        <i class='fa fa-pencil' aria-hidden='true'></i>
                                                    </a>
                                                    <a title="Delete" class='btn btn-danger btn-circle btn-outline delete-row' href="javascript:void(0);" data-id="@permission.Id" data-functionname="@permission.Name">
                                                        <i class='fa fa-trash' aria-hidden='true'></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>@permission.Name</td>
                                            @foreach (var group in Model.GroupFunctionItems)
                                            {
                                                <td class="text-center" data-id="@group.Id">
                                                    <div class='i-checks checkbox-primary'>
                                                        <input type="checkbox" @(group.FunctionIds.Contains(permission.Id) ? "checked" : "") value="@permission.Id" id="@(group.Id + "_" + permission.Id)" data-role="@group.Id" />
                                                        <label for="@(group.Id + "_" + permission.Id)"></label>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="clearfix form-actions text-center">
                                <div class="col-12">
                                    <button id="btn-save-permissions" class="btn btn-success" type="button">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts
        {
        <script type="text/javascript">
        $(document).ready(function() {
            $('#btn-save-permissions').click(function() {
                var jsonObj = [];

                $('#datatablePermission thead th.role').each(function(i, e) {
                    var id = $(e).data('id');
                    var groupName = $(e).data('groupname');
                    var item = {};
                    var roleObj = [];
                    item['Id'] = id;
                    item['Name'] = groupName;
                    $('#datatablePermission tbody td[data-id=' + id + ']').each(function(index, element) {
                        var $checkbox = $(element).find('input[type=checkbox]');
                        if ($checkbox.is(":checked")) {
                            roleObj.push(parseInt($checkbox.val()));
                        }
                    });
                    item["FunctionIds"] = roleObj;

                    jsonObj.push(item);
                });
                // Submit json object
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("UpdatePermissions", "Permissions")',
                    data: {
                        roles: JSON.stringify(jsonObj)
                    },
                    success: function (data) {
                        if (data.error === true) {
                            showErrorMessage(data.message);
                        } else {
                            showSuccessMessage(data.message);
                        }
                    }
                });
            });

            $(".check-all").on('ifChanged', function () {
                $('input:checkbox[data-role=' + $(this).data('role') + ']').iCheck($(this).is(":checked") ? 'check' : 'uncheck');
            });

            $('.delete-row').click(function () {
                var id = $(this).data('id');
                var name = $(this).data('functionname');
                bootbox.confirm({
                    title: "Notification",
                    message: 'Are you sure you want to delete permissions "' + name +'"?',
                    buttons: {
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm',
                            className: 'btn-primary'
                        },
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            openProcess();
                            $.ajax({
                                type: "POST",
                                url: "/Permissions/Delete",
                                data: { "id": id},
                                dataType: "json",
                                success: function (data, textStatus, jqXHR) {
                                    // Stop progress
                                    hideProcess();
                                    if (data.error === true) {
                                        showErrorMessage(data.message);
                                    } else {
                                        showSuccessMessage(data.message);
                                        window.location.reload();
                                    }
                                },
                                error: function (xhr, status, error) {
                                    // Stop progress bar
                                    hideProcess();
                                    showPopupError();
                                }
                            });
                        }
                    }
                });
            });
        });
        </script>
    }
}

