﻿@using BLOG.Core.Utility
@{
    var controller = ViewContext.RouteData.Values["controller"];
    var action = ViewContext.RouteData.Values["action"];
    var controllerName = StringTools.AddSpacesToSentence(controller.ToString(), true);
    var actionName = StringTools.AddSpacesToSentence(action.ToString(), true);
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="fa fa-home fa-lg"></i></a>
            </li>
            <li class="breadcrumb-item">
                @if (action.ToString().ToLower().Equals("index"))
                {
                    <label>@controllerName</label>
                }
                else
                {
                    <a asp-controller="@controller.ToString()" asp-action="Index">@controllerName</a>
                }
            </li>
            <li class="breadcrumb-item active">
                <strong>@actionName</strong>
            </li>
        </ol>
    </div>
</div>