﻿@using BLOG.Core.Constants
@using BLOG.Core.Extensions;
@using BLOG.Models.Sys
@{
    var controller = ViewContext.RouteData.Values["controller"];
    var menuItems = BLOG.App_Core.Extensions.SessionExtensions.Get<List<MenuPermissionModel>>(Context.Session, Constants.SessionMenu);

}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="/images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@User.Identity.Name</span>
                    </a>
                </div>
            </li>
            @if (menuItems != null && menuItems.Any())
            {
                foreach (var item in menuItems)
                {
                    if(item.MenuItems.Count == 0) { continue; }
                    if (item.MenuItems.Any() && item.MenuItems.Count == 1)
                    {
                        <li class="@Html.IsSelected(item.MenuItems[0].ControllerName)">
                            <a href="@Html.Raw($"/administrator/{@item.MenuItems[0].ControllerName}/{item.MenuItems[0].ActionName}")"><i class="@item.Icon"></i> <span class="nav-label">@item.MenuItems[0].Name</span></a>
                        </li>
                    }
                    else
                    {
                        List<string> controllerIsSelected = item.MenuItems.Select(c => c.ControllerName).ToList();
                        <li class="@Html.IsSelected(String.Join("::",controllerIsSelected))">
                            <a href="#"><i class="@item.Icon"></i> <span class="nav-label">@item.Name</span> <span class="fa arrow"></span></a>
                            @if (item.MenuItems.Any())
                            {
                                <ul class="nav nav-second-level collapse">
                                    @foreach (var child in item.MenuItems)
                                    {
                                        <li class="@Html.IsSelected(child.ControllerName,child.ActionName)"><a  href="@Html.Raw($"/administrator/{@child.ControllerName}/{@child.ActionName}")"><i class="@child.Icon"></i>@child.Name</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }

                }

            }
            <li class="@Html.IsSelected("Users","ChangePassword")">
                <a asp-controller="Users" asp-action="ChangePassword"><i class="fa fa-key"></i> <span class="nav-label">Change password</span></a>
            </li>
        </ul>
    </div>
</nav>