﻿<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-12">
        <div class="dataTables_info" role="status" aria-live="polite" data-bind="text: Message"></div>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12" data-bind="visible: TotalPages() > 1" style="display: none">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="javascript:;" aria-label="Previous" data-bind="click: PrevPage">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!--ko foreach:Pages-->
                <li class="paginate_button page-item " data-bind="css: { active: $data.pageNumber === ($root.PageIndex()) }"><a href="javascript:;" class="page-link" data-bind="click: function() { $root.MoveToPage($data.pageNumber); }"><span data-bind="text:pageNumber"></span></a></li>
                <!--/ko-->
                <li>
                    <a href="javascript:;" aria-label="Next" data-bind="click: NextPage">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>