﻿@using BLOG.Core.Constants
@model BLOG.Areas.Administrator.Models.ActivityLogViewModel
@{
    ViewData["Title"] = "Activity logs";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Activity logs</h2>
    </div>
</div>

<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" data-bind="value: Keyword" placeholder="Enter search keywords..." class="form-control search-input">
                            </div>
                            <div class="btn-group btn-group-date">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" placeholder="From Date" value="" data-bind="value:FromDate">
                                </div>
                            </div>
                            <div class="btn-group btn-group-date">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" placeholder="To Date" value="" data-bind="value:ToDate">
                                </div>
                            </div>
                            <div class="btn-group btn-group-select">
                                <select class="form-control" data-bind="foreach: LogTypeOptions, value: LogTypeId">
                                    <option data-bind="value: value, text: text"></option>
                                </select>
                            </div>
                            <div class="btn-group btn-group-select">
                                <select class="form-control" data-bind="foreach: UserOptions, value: UserId">
                                    <option data-bind="value: value, text: text"></option>
                                </select>
                            </div>
                            <div class="btn-group btn-search">
                                <button type="submit" class="btn btn-primary btn-filter" data-bind="click: ActionSearch"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive list-news">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="width: 300px;">Session Id</th>
                                <th style="width: 100px;">Action</th>
                                <th>Description</th>
                                <th style="width: 200px;">User</th>
                                <th style="width: 140px">Create date</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach:ActivityLogItems">
                            <tr>
                                <td><a href="#" title="Click to view Detail" data-bind='text:sessionId,click:$parent.ViewDetail'></a></td>

                                <td>
                                    <!--ko if:logType=== '@Constants.LogType.Insert'-->
                                    <span class="btn btn-xs btn-primary">Insert</span>
                                    <!--/ko-->
                                    <!--ko if:logType ==='@Constants.LogType.Update'-->
                                    <span class="btn btn-xs btn-warning">Update</span>
                                    <!--/ko-->
                                    <!--ko if:logType ==='@Constants.LogType.Delete'-->
                                    <span class="btn btn-xs btn-danger">Delete</span>
                                    <!--/ko-->
                                    <!--ko if:logType ==='@Constants.LogType.Search'-->
                                    <span class="btn btn-xs btn-info">Search</span>
                                    <!--/ko-->
                                    <!--ko if:logType ==='@Constants.LogType.SendEmail'-->
                                    <span class="btn btn-xs btn-success">Send email</span>
                                    <!--/ko-->
                                </td>
                                <td data-bind="html:commentShort"></td>
                                <td data-bind="text:userName"></td>
                                <td data-bind="text:createdDate"></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingKnockout.cshtml" />
                </div>
            </div>
        </div>
    </div>
    <partial name="_Partials/_PopupViewDetail.cshtml" />
</div>
@section Scripts{
    <script type="text/javascript">
        var data = @Json.Serialize(Model);
    </script>
    <script src="/Content/adminpages/ActivityLog/index.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });
    </script>
}