﻿@model BLOG.Models.Parameter.ParameterViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";

}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Parameter Management</h2>
    </div>
</div>
<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" asp-for="keyWord" onkeypress="searchKeypress()" placeholder="Enter search keywords ..." class="form-control form-large search-input search-input">
                            </div>
                            <div class="btn-group btn-search">
                                <button onclick="searchClick()" class="btn btn-primary btn-filter search-face"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div data-url-refresh="/administrator/parameter/index">
                        <div class="table-responsive list-news">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th style="min-width: 120px;">Value</th>
                                        <th style="width: 50px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingReloadPage.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>
}


