﻿@model BLOG.Models.Pages.ParameterModel
@{
    Layout = null;
    var title = "Add Parameter";
    if (Model.Id != 0)
    {
        title = "Edit Parameter";
    }
}
<style>
    form {
        width: 100%;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addContactLabel">@title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form action="/administrator/parameter/OpenParameterInfo" enctype="multipart/form-data" method="post">
                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-12" style="display:none ">
                                <input asp-for="Id" id="id-edit-sub" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-12">
                                <label class="col-form-label">Key</label>
                                @if (!string.IsNullOrEmpty(Model.Key))
                                {
                                    <input asp-for="Key" readonly id="title-edit" type="text" class="form-control" />
                                }
                                else
                                {
                                    <input asp-for="Key" id="title-edit" type="text" class="form-control" />
                                }
                                <span asp-validation-for="Key" class="text-danger"></span>
                            </div>
                            @if (Model.ViewColumns == "Name")
                            {
                                <div class="form-group col-12">
                                    <label class="col-form-label">Name</label>
                                    <input asp-for="Name" id="title-edit" type="text" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            }
                            <div class="form-group col-12">
                                <label class="col-form-label">Value</label>
                                <input asp-for="Value" id="title-edit" type="text" class="form-control" />
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="savePopupForm()">Save</button>
            </div>
        </div>
    </div>
</div>

