﻿@{
    ViewData["Title"] = "File Browser";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BLOG</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/Content/ckeditor/ckeditor.js"></script>
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            box-sizing: border-box;
        }

        .clearfix:before, .clearfix:after, .row:before, .row:after {
            clear: both;
            content: " ";
            display: table;
        }

        .fl {
            float: left;
        }

        label {
            display: block;
            cursor: pointer;
        }

        .upload-item-wrap input[type="radio"] {
            display: none;
        }

        .upload-item-wrap {
            margin-right: 10px;
        }

        .upload-item {
            font-family: Arial, sans-serif;
            width: 150px;
            height: 150px;
            border-radius: 6px;
            border: 3px solid #d6d6d6;
            position: relative;
            transition: all .3s ease-in-out;
        }

        .upload-item-top {
            text-align: center;
            height: 64px;
            overflow: hidden;
            background: #fff;
        }

            .upload-item-top img {
                max-width: 100%;
            }

        .upload-item-bottom {
            background: #f6f8f9;
            height: 56px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 4px 0 0 8px;
        }

        .upload-file-name {
            font-size: 12px;
            color: #373a3c;
        }

        .upload-timestamp {
            font-size: 10px;
            padding: 4px 0 1px;
            color: #7f7982;
        }

        .upload-size {
            font-size: 10px;
            text-transform: uppercase;
            color: #7f7982;
        }

        .upload-triangle {
            border-top: 46px solid transparent;
            border-right: 46px solid transparent;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all .3s ease-in-out;
        }

        .upload-tick {
            background: transparent url(https://i.ibb.co/NN4D5dJ/tick.png) no-repeat;
            width: 18px;
            height: 18px;
            position: absolute;
            bottom: 5px;
            right: 5px;
            background-size: 18px;
            opacity: 0;
        }

        input[type="radio"]:checked ~ label .upload-item {
            border-color: #0b90eb;
        }

        input[type="radio"]:checked ~ label .upload-triangle {
            border-right-color: #0b90eb;
        }

        input[type="radio"]:checked ~ label .upload-tick {
            opacity: 1;
        }

        .ckf-toolbar-items {
            padding: 10px;
            border: 1px solid #d7dcdf;
            margin-bottom: 5px;
        }

        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .btn {
            border: 1px solid gray;
            color: gray;
            background-color: white;
            /*padding: 8px 20px;*/
            border-radius: 5px;
            /*font-size: 20px;*/
            font-weight: bold;
        }

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .upload-list {
            margin: 5px;
        }

        .upload-file-name {
            font-size: 12px;
            color: #373a3c;
            width: 130px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>


<body style="padding:0px">
    <div class="ckf-toolbar-items" role="toolbar">
        <div class="row">
            <div class="col-sm-10">
                <form asp-controller="CkFinder" asp-action="FileBrowse" method="post" enctype="multipart/form-data">
                    <div class="upload-btn-wrapper">
                        <button class="btn"><i class="fa fa-cloud-upload-alt"></i> Upload</button>
                        <input type="file" name="upload" onChange="document.forms[0].submit()" />
                        <input type="submit" style="display:none">
                    </div>
                    <div class="upload-btn-wrapper">
                        <button type="button" id="btnDeleteFile" class="btn delete"><i class="fa fa-cloud-upload-alt"></i> Delete</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-1">

                <input type="hidden" name="fileName" id="filename" />
            </div>
        </div>
    </div>
    <div class="upload-list clearfix">
        <label> </label>
        <label style="font-style: italic;color: red;"> @ViewData["Message"]</label>
        @foreach (var file in ViewBag.FilesInfo)
        {
            Decimal FileSize = Decimal.Divide(file.Length, 1024);


            <div class="upload-item-wrap fl">
                <input id="@file.Name" name="item" type="radio" value="/images/@file.Name" title="/images/@file.Name" />
                <label for="@file.Name" title="img" id="/images/@file.Name">
                    <div class="upload-item">
                        <div class="upload-item-top">
                            <img src="~/images/@file.Name" alt="/images/@file.Name" title="/images/@file.Name" />
                        </div>
                        <div class="upload-item-bottom">
                            <div class="upload-file-name">
                                @file.Name
                            </div>
                            <div class="upload-timestamp">
                                @file.CreationTime
                            </div>
                            <div class="upload-size">
                                @String.Format("{0:##.##} KB", FileSize)
                            </div>
                            <div class="upload-triangle">
                            </div>
                            <div class="upload-tick">
                            </div>
                        </div>
                    </div>
                </label>
            </div>

        }
    </div>
    <script>


        $(document).ready(function () {
            $("#btnDeleteFile").click(function () {
                var radioValue = $("input[name='item']:checked").val();
                if (radioValue) {
                    $.ajax({
                        type: "POST",
                        url: "/administrator/ckfinder/deletebrowse",
                        content: "application/json; charset=utf-8",
                        dataType: "json",
                        data: { fileName: radioValue },
                        success: function (d) {
                            if (d.code == 200)
                                location.reload();
                            else {
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            // TODO: Show error
                        }
                    });
                }
            })
        })


        $("label[title='img']").dblclick(function () {
            var elementCKEditor = 1;
            var src = $(this).attr("id");
            window.opener.CKEDITOR.tools.callFunction(elementCKEditor, src);
            window.close();
        });
    </script>
</body>
<head>

</head>
</html>
