﻿@{
    ViewData["Title"] = "Created user";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/ckeditor/ckeditor.js"></script>

<textarea id="mota">This is some sample content.</textarea>
<script>
    $(document).ready(function () {
        CKEDITOR.replace('mota', {
            height: 300,
            filebrowserBrowseUrl: '/administrator/ckfinder/filebrowse',
            filebrowserUploadUrl: '/administrator/ckfinder/UploadFile',
        });
    })
</script>