﻿<div class="modal inmodal" id="popupUserGroupFrmItem" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <!--ko if:Mode()==='CREATE'-->
                <h4 class="modal-title">Create Group</h4>
                <!--/ko-->
                <!--ko if:Mode()==='UPDATE'-->
                <h4 class="modal-title">Update Group</h4>
                <!--/ko-->
            </div>
            <div class="modal-body">
                <form method="post" id="frmAdd" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="required">Group name</label>
                            <input type="text" class="form-control" data-bind="value:Name" maxlength="250"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Description</label>
                            <textarea type="text" rows="5" cols="20" class="form-control" data-bind="value:Description"></textarea>
                         </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:Submit">
                    <i class="fa fa-save"></i>
                    <!--ko if:Mode()=='CREATE'-->
                    Save
                    <!--/ko-->
                    <!--ko if:Mode()=='UPDATE'-->
                    Update
                    <!--/ko-->
                </button>
            </div>
        </div>
    </div>
</div>
