﻿<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://doanhnhanvietnam/sample.jpg" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap/font-awesome.min.css" rel="stylesheet" />
    <link href="~/frontend/css/general.css" rel="stylesheet" />
    <link href="~/frontend/css/home.css" rel="stylesheet" />
    <link href="~/frontend/css/bank.css" rel="stylesheet" />
    <link href="~/frontend/css/blog.css" rel="stylesheet" />
    <link href="~/frontend/css/exchange.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/frontend/css/general.css">
</head>

<body>
    <div class="top-bar container">
        <div class="row">
            <div class="col-sm-12 col-md-3 home-logo">
                <a class="navbar-brand " href="/"><img src="//cdn.shopify.com/s/files/1/0268/2896/3888/files/logo_large.png?v=1567057096" alt="Beauty Sectioned Shopify Theme" itemprop="logo"></a>
            </div>
            <div class="col-sm-12 col-md-5 layout-search">
                <input type="text" class="form-control" style="border-radius: 1.25rem" />
                <a href="#"><span class="fa fa-search layout-icon-search"></span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="left-bar row">
                    <a href="#" class="content-shopping">
                        <span class="glyphicon glyphicon-user user-navbar"></span>
                        <span class="text-cart">Sign In or Create Account</span>
                    </a>
                    <a href="#" class="content-shopping">
                        <i class="fa fa-shopping-cart shopping-cart"></i>
                        <span class="text-cart">Shopping card</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="top-space">
    </div>
        <nav class="navbar navbar-expand-lg navbar-light mn-fixed mn-top">
            <div class="container">
                <a class="navbar-brand1" href="/"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mn-items">
                        <li class="nav-item"><a class="nav-link" href="/">Categories<span class="sr-only"></span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Contact</a></li> 
                    </ul>
                </div>
            </div>
        </nav>
    @RenderBody()
    <div id="modal-placeholder-Fronend"></div>
    <!--Bottom-->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/fronend/bootsrap/bootstrap.min.js"></script>

    <script src="~/frontend/js/general.js"></script>
    <script src="~/frontend/js/googlemap.js"></script>

    <link href="~/js/inspinia/plugins/gritter/jquery.gritter.css" rel="stylesheet" />
    <script src="~/js/inspinia/plugins/gritter/jquery.gritter.min.js"></script>

    <script src="~/js/inspinia/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
