﻿@model BLOG.Models.Products.ProductViewModel
@using BLOG.Core.Constants
@{

    ViewData["Title"] = "Add";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<link href="~/css/addproduct.css" rel="stylesheet" />
<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Create Product</h5>
                </div>
                <div class="ibox-content">
                    <form id="frmAdd" asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required">Name</label>
                                    <div class="col-sm-11">
                                        <input type="text" asp-for="InfoProduct.Name" class="form-control" required maxlength="514">
                                        <span asp-validation-for="InfoProduct.Name" id="message-name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Title</label>
                                    <div class="col-sm-11">
                                        <input type="text" id="title-val" for-slug="InfoProduct.Url" asp-for="InfoProduct.Title" class="form-control" placeholder="" maxlength="514">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Url</label>
                                    <div class="col-sm-11">
                                        <input type="text" asp-for="InfoProduct.Url" class="form-control" placeholder="" maxlength="514">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Image Cover</label>
                                    <div class="col-sm-11">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 150px; height: 100px;"></div>
                                            <div>
                                                <span class="btn btn-primary btn-file">
                                                    <span class="fileinput-new">Select image</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="fileImageCover" id="fileslogo" accept="image/png, image/jpeg">
                                                </span>

                                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 uploads">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Images</label>
                                    <div class="col-md-11">
                                        <input id="file-input" name="myFile" type="file" multiple>
                                        <div id="preview"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Keywords</label>
                                    <div class="col-sm-11">
                                        <input asp-for="InfoProduct.Keywords" class="form-control" placeholder="" maxlength="514">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Short Description</label>
                                    <div class="col-sm-11">
                                        <textarea type="text" rows="2" asp-for="InfoProduct.ShortDescription" class="form-control" placeholder="" maxlength="514"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">Long Description</label>
                                    <div class="col-sm-11">
                                        <textarea type="text" rows="3" asp-for="InfoProduct.LongDescription" class="form-control" placeholder="" maxlength="514"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label">Content</label>
                                    <div class="col-sm-11">
                                        <textarea id="Content" asp-for="InfoProduct.Contents"></textarea>
                                        <span asp-validation-for="InfoProduct.Contents" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label ">Category</label>
                                    <div class="col-sm-11">
                                        <select class="form-control js-example-tags" multiple="multiple" asp-for="InfoProduct.CateProductId">
                                            @if (Model.ListCategories.Any() && Model.ListCategories != null)
                                            {
                                                @foreach (var item in Model.ListCategories)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-2 col-form-label ">Tags</label>
                                    <div class="col-sm-10">
                                        <select class="form-control js-example-tags" asp-for="InfoProduct.ListTagChoosed">
                                            @if (Model.ListTags.Any())
                                            {
                                                @foreach (var item in Model.ListTags)
                                                {
                                                    <option value="@item.Text">@item.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-2 col-form-label ">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" asp-for="InfoProduct.Status">
                                            <option value="@Constants.Status.Available">@Constants.Status.Available</option>
                                            <option value="@Constants.Status.Unavailable">@Constants.Status.Unavailable</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-12" style="margin:auto">
                                <div class="form-group row">
                                    <table id="myTable" class=" table order-list">
                                        <thead>
                                            <tr>
                                                <td style="width:300px">Type</td>
                                                <td style="width:200px">Size</td>
                                                <td>Price</td>
                                                <td>Promotion</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="form-control js-example-tags" multiple="multiple" name="ListProductTypeTable[0].Type">
                                                        @if (Model.ListTypeProduct.Any())
                                                        {
                                                            @foreach (var item in Model.ListTypeProduct)
                                                            {
                                                                <option value="@item.Text">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control js-example-tags" multiple="multiple" name="ListProductTypeTable[0].Size">
                                                        @if (Model.ListSizeProduct.Any())
                                                        {
                                                            @foreach (var item in Model.ListSizeProduct)
                                                            {
                                                                <option value="@item.Text">@item.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="ListProductTypeTable[0].Price" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" name="ListProductTypeTable[0].Promotion" class="form-control" />
                                                </td>
                                                <td>
                                                    <a class="deleteRow"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5" style="text-align: left;">
                                                    <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                                </td>
                                            </tr>
                                            <tr>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="clearfix form-actions submit-buttons text-center">
                                <a class="btn btn-outline btn-danger" asp-controller="Product" asp-action="Index">Cancel</a>
                                <button class="btn btn-success" type="submit" value="Save" name="Submit">
                                    <i class="fa fa-save"></i>
                                    Create
                                </button>
                                <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                    <i class="fa fa-undo"></i>
                                    Reset
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/adminpages/Common/ckeditorContent.js"></script>
    <script src="~/Content/adminpages/Products//add.js"></script>
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });
        })

    </script>
}
