﻿@model BLOG.Models.Products.ProductViewModel
@using BLOG.Core.Constants
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    var i = 1;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Category Management</h2>
    </div>
        <div class="col-lg-3 mt-xl-3 text-right">
            <a class="btn btn-primary" href="/administrator/Product/Add"><i class="fa fa-plus"></i> Add</a>
        </div>
</div>
<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" asp-for="keyWord" onkeypress="searchKeypress()" placeholder="Enter search keywords ..." class="form-control form-large search-input">
                            </div>
                            <div class="btn-group btn-search">
                                <button onclick="searchClick()" class="btn btn-primary btn-filter search-face"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div data-url-refresh="/administrator/product/index">
                        <div class="table-responsive list-news">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:20px">Number</th>
                                        <th style="min-width: 120px;">Image</th>
                                        <th>Name</th>
                                        <th>Amount sold</th>
                                        <th>Status</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListProducts)
                                    {
                                        <tr>
                                            <td style="width:20px">@i</td>
                                            <td><img style="height:70px" src="@item.CoverImage" /></td>
                                            <td>"@item.Name</td>
                                            <td>@item.CountSold</td>
                                            @if (@item.Status == Constants.Status.Available)
                                            {
                                                <td><span class="btn btn-xs btn-primary">@item.Status</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="btn btn-xs btn-warning">@item.Status</span></td>
                                            }
                                            <td style="width: 100px;">
                                                <a href="/administrator/product/edit/@item.Id" data-id="@item.Id" class="btn btn-primary edit1" title="Edit"><i style="color:#fff;" class="fa fa-edit"></i></a>
                                                <button onclick="deleteItem('/administrator/product/Delete/@item.Id')" class="btn btn-danger del" title="Delete"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                        <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingReloadPage.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
