﻿@using BLOG.Core.Constants
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - VCDC</title>

    <script src="/js/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="/Content/plugins.css" />
    <link rel="stylesheet" href="/Content/stylecss.css" />
    <link href="~/backend/backend-style.css" rel="stylesheet" />
    <script src="/js/jquery-3.1.1.min.js"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <partial name="_Partials/_Navigation.cshtml" />
        <div id="page-wrapper" class="gray-bg">
            <partial name="_Partials/_TopNavbar.cshtml" />
            <partial name="_Partials/_Breadcrumb.cshtml" />

            @RenderBody()

            <!-- Modal placeholder -->
            <div id="modal-placeholder"></div>
            <div id="modal-placeholder2"></div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Notification</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this item?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="modal-del" onclick="requestDelete()" class="btn btn-primary" data-dismiss="modal">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <partial name="_Partials/_Footer.cshtml" />

            <!-- Spiner -->
            <div class="loading-indicator">
                <div class="spinner-overlay">
                    <div id="spinner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Partials/_PopupError.cshtml" />
    <!-- Mainly scripts -->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="/lib/ckeditor/adapters/jquery.js"></script>
    <script src="/js/bundles/bootstrap-js.js"></script>
    <script src="/js/bundles/inspinia-js.js"></script>
    <script src="/js/Plugins/bootbox/bootbox.min.js"></script>
    <script src="/js/bundles/spin-js.js"></script>
    <script src="/lib/knockoutjs/jquery.number.js"></script>
    <script src="/lib/knockoutjs/knockout-latest.js"></script>
    <script src="/lib/knockoutjs/knockout.validation.js"></script>
    <script src="/js/inspinia/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/js/site.js"></script>
    <script src="~/js/inspinia/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/backend/ajax-form.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        });
    </script>

    @if (TempData[Constants.TempDataKey.Success] != null)
    {
        <script>
            showSuccessMessage('@TempData[Constants.TempDataKey.Success].ToString()');
        </script>
    }
    @if (TempData[Constants.TempDataKey.Error] != null)
    {
        <script>
            showErrorMessage('@TempData[Constants.TempDataKey.Error].ToString()');
        </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
