﻿<div class="modal inmodal" id="popupUserRole" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Assign users for group</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="frmAdd" enctype="multipart/form-data" class="form-horizontal">
                    <h3>User: <span data-bind="text:UserInfo"></span></h3>
                    <ul class="list-role" data-bind="foreach:GroupFunctionItems">
                        <li><label><input type="checkbox" data-bind="checked:IsChecked"/><span data-bind="text:Name"></span></label></li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:SubmitAssignGroup"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>
