﻿#exampleModal .modal-dialog{
    max-width: 500px;
}
#modal-placeholder2 .modal.show::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #808080;
    position: absolute;
    opacity: 0.5;
}
input[type='checkbox'].check-del + span:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -3px;
    display: block;
    width: 26px;
    height: 28px;
    margin: 0px;
    padding: 0px;
    background: rgb(187, 110, 110);
    background: url(/Content/themes/inspinia/plugins/iCheck/green.png) 3px no-repeat;
    border: 0px;
    opacity: 0.6;
}
.i-checks label {
    position: absolute;
    margin-left: -10px;
}
input[type='checkbox'].check-del{
    opacity: 0;
}
input[type='checkbox'].check-del:checked + span:before {
    background: url(/Content/themes/inspinia/plugins/iCheck/green.png) -46px no-repeat;
}