﻿@model BLOG.Models.Posts.TagViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

    <div id="divList" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Edit Tag</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="frmAdd" asp-controller="Tag" asp-action="Edit" method="post">
                            <div class="row">
                                <div class="form-group col-12">
                                    <input asp-for="InfoTag.Id" id="id-edit" type="text" style="display:none " class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label class="col-sm-3 col-form-label required">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="name-val" asp-for="InfoTag.Name" class="form-control" onblur="CheckNameEdit()">
                                            <span id="message-name-edit" asp-validation-for="InfoTag.Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="clearfix form-actions submit-buttons text-center">
                                    <a class="btn btn-outline btn-danger" asp-controller="Tag" asp-action="Index">Cancel</a>
                                    <button class="btn btn-success" id="edit-cate" type="submit">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
       
        <script>
            $(document).ready(function () {
                $('.chosen-select').chosen({ width: "100%" });
                $('.tagsinput').tagsinput({
                    tagClass: 'label label-primary'
                });
            });


        </script>
    }



