﻿@model BLOG.Models.Posts.TagViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    var type = "";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Tag Management</h2>
    </div>
    <div class="col-lg-3 mt-xl-3 text-right">
        <a class="btn btn-primary" href="#" onclick="openPopupForm('/administrator/tag/OpenTagInfo')"><i class="fa fa-plus"></i> Add</a>
    </div>
</div>


<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" asp-for="keyWord" onkeypress="searchKeypress()" placeholder="Enter search keywords ..." class="form-control form-large search-input search-input">
                            </div>
                            <div class="btn-group btn-search">
                                <button onclick="searchClick()" class="btn btn-primary btn-filter search-face"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div data-url-refresh="/administrator/Tag/index">
                        <div class="table-responsive list-news">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>                                   
                                        <th>Name</th>
                                        <th>Create Date</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model.ListTags)
                                    {
                                        <tr>                                  
                                            <td>@item.Name</td>
                                            <td>@item.CreatedDate.ToString()</td>
                                            <td style="width: 100px;">
                                                <a href="#" data-id="@item.Id" class="btn btn-primary edit1" title="Edit" onclick="openPopupForm('/administrator/tag/OpenTagInfo/@item.Id')"><i class="fa fa-edit"></i></a>
                                                <a href="#" onclick="deleteItem('/administrator/tag/delete/@item.Id')" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingReloadPage.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
   
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>
}

