﻿@{
    Layout = null;
    var title = "Add Tag";
    if(Model.Id != 0)
    {
        title = "Edit Tag";
    }
}
@model BLOG.Models.Posts.TagModel
<!-- Modal -->
<div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addContactLabel">@title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/administrator/tag/OpenTagInfo">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input asp-for="Id" type="hidden" />

                    <div class="form-group">
                        <label class="required" asp-for="Name"></label>
                        <input asp-for="Name" id="name-val" class="form-control" onblur="validateName()" />
                        <span asp-validation-for="Name" id="message-name" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="create-cate" class="btn btn-primary" onclick="savePopupForm()">Save</button>
            </div>
        </div>
    </div>
</div>