﻿@model BLOG.Areas.Administrator.Models.Systems.MenuGroupViewModel
@{
    ViewData["Title"] = "Menu group";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="divList">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Menu group Management</h2>
        </div>
        <div class="col-lg-3 mt-xl-3 text-right">
            <a href="javascript:;" class="btn btn-primary" data-bind="click:AddItem"><i class="fa fa-plus"></i> Add</a>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2>Search</h2>
                        <div class="filter-container">
                            <div class="btn-group btn-group-filter">
                                <div class="search-container">
                                    <input type="text" data-bind="value: Keyword" placeholder="Enter search keywords ..." class="form-control form-large search-input">
                                </div>
                                <div class="btn-group btn-search">
                                    <button type="submit" class="btn btn-primary btn-filter" data-bind="click: ActionSearch"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive list-news">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Icon</th>
                                        <th>Description</th>
                                        <th style="width: 120px;">Created date</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach:MenuGroupItems">
                                    <tr>
                                        <td data-bind="text:name"></td>
                                        <td><i data-bind='attr:{class:icon}'></i></td>
                                        <td data-bind="text:description"></td>

                                        <td data-bind="text:createdDate"></td>
                                        <td style="width: 100px;">
                                            <a href="#" class="btn btn-primary" title="Edit" data-bind='click:$parent.EditItem'><i class="fa fa-edit"></i></a>
                                            <a href="#" class="btn btn-danger" title="Delete" data-bind="click:$parent.DeleteItem"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingKnockout.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Partials/_PopupFrmItem.cshtml"/>
@section Scripts{
    <script type="text/javascript">
        var data = @Json.Serialize(Model);
    </script>
    <script src="/Content/adminpages/MenuGroups/index.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        $(document).ready(function() {
            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>
}

