﻿@using BLOG.Core.Constants
@model BLOG.Models.Categories.CategoryViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Create Category</h5>
                </div>
                <div class="ibox-content">
                    <form id="frmAdd" asp-controller="Category" asp-action="Add" method="post">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-3 col-form-label required">Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" for-slug="InfoCategory.SlugUrl" required id="title-val" asp-for="InfoCategory.Title" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-3 col-form-label">Slug</label>
                                    <div class="col-sm-9">
                                        <input type="text"  asp-for="InfoCategory.SlugUrl" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-3 col-form-label ">Keywords</label>
                                    <div class="col-sm-9">
                                        <input type="text" asp-for="InfoCategory.Keywords" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-3 col-form-label ">Status</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" asp-for="InfoCategory.Status">
                                            <option value="Active">Active</option>
                                            <option value="InActive">InActive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea rows="4" type="text" asp-for="InfoCategory.Description" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="display:none;">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" asp-for="InfoCategory.Type">
                                            <option value="@Constants.CategoryType.General">@Constants.CategoryType.General</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="clearfix form-actions submit-buttons text-center">
                                <a class="btn btn-outline btn-danger" asp-controller="Category" asp-action="Index">Cancel</a>
                                <button class="btn btn-success" id="create-cate" type="submit">
                                    <i class="fa fa-save"></i>
                                    Create
                                </button>
                                <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                    <i class="fa fa-undo"></i>
                                    Reset
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });
        });
        

    </script>
}


