﻿@using BLOG.Core.Constants
@model BLOG.Models.Categories.CategoryViewModel
@{
    var title = "Add new category";
    if (Model.InfoCategory.Id != 0)
    {
        title = "Edit category";
    }
    if (!string.IsNullOrEmpty(Model.InfoCategory.KeyName))
    {
        title += ": " + Model.InfoCategory.KeyName;
    }
    ViewData["Title"] = "Edit";
    Layout = null;

}

<style>
    .modal-dialog {
        max-width: 700px;
    }

    #modal-del-editor {
        max-width: 500px;
        margin: 1.75rem auto;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addContactLabel">@title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form id="frmAdd" action="/administrator/Category/CategoryEditor" method="post">
                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                            <input asp-for="InfoCategory.Id" type="hidden" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Key Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="InfoCategory.KeyName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label required">Title</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="title-val" required asp-for="InfoCategory.Title" for-slug="InfoCategory.SlugUrl" class="form-control">
                                            <span asp-validation-for="InfoCategory.Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Slug</label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="InfoCategory.SlugUrl" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Type</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" asp-for="InfoCategory.Type">
                                                <option value="@Constants.CategoryType.General" selected>@Constants.CategoryType.General </option>
                                                <option value="@Constants.CategoryType.Blog">@Constants.CategoryType.Blog </option>
                                                <option value="Product">Product </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 none">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Status</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" asp-for="InfoCategory.Status">
                                                <option value="Active">Active</option>
                                                <option value="InActive">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label ">Keywords</label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="InfoCategory.Keywords" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea rows="4" type="text" asp-for="InfoCategory.Description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="clearfix form-actions submit-buttons text-center">
                                    <button type="button" class="btn btn-outline btn-danger" data-dismiss="modal">Close</button>
                                    <button class="btn btn-success" id="edit-cate" type="button" onclick="savePopupForm()">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




