﻿@using BLOG.Core.Constants
@model BLOG.Models.Categories.CategoryViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    var type = Model.InfoCategory.Type;
}


<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Edit Category</h5>
                </div>
                <div data-url-refresh="/administrator/category/edit/@Model.InfoCategory.Id">
                    <div class="ibox-content">
                        <form id="frmAdd" asp-controller="Category" asp-action="Edit" method="post">
                            <div class="row">
                                <div class="form-group col-12">
                                    <input asp-for="InfoCategory.Id" id="id-edit" type="text" style="display:none " class="form-control" />
                                </div>
                                @if (Model.InfoCategory.KeyName != null)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <label class="col-sm-3 col-form-label">Key Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" readonly asp-for="InfoCategory.KeyName" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label class="col-sm-3 col-form-label ">Keywords</label>
                                        <div class="col-sm-9">
                                            <input type="text" asp-for="InfoCategory.Keywords" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label class="col-sm-3 col-form-label required">Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" for-slug="InfoCategory.SlugUrl" id="title-val" required asp-for="InfoCategory.Title" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea rows="4" type="text" asp-for="InfoCategory.Description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label class="col-sm-3 col-form-label">Slug</label>
                                        <div class="col-sm-9">
                                            <input type="text" asp-for="InfoCategory.SlugUrl" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label class="col-sm-3 col-form-label">Status</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" asp-for="InfoCategory.Status">
                                                <option value="Active">Active</option>
                                                <option value="InActive">InActive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="clearfix form-actions submit-buttons text-center">
                                    <a class="btn btn-outline btn-danger" href="/administrator/Manager/Pages/@type">Cancel</a>
                                    <button class="btn btn-success" id="edit-cate" type="submit">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.ListSubs.Any() && Model.ListSubs != null)
        {
            <div class="row wrapper border-bottom white-bg page-heading" style="margin:0px;">
                <div class="col-lg-9">
                    <h2>SubItem Management</h2>
                </div>
                <div class="col-lg-3 mt-xl-3 text-right">
                    <button class="btn btn-primary"  onclick="openPopupForm('/administrator/category/OpenSubInfo')"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <div class="row" id="divList">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>SubItem</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="table-responsive list-news">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th style="min-width: 120px;">Description</th>
                                            <th style="width: 100px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:ListSubs">
                                        @foreach (var item in Model.ListSubs)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.Description</td>
                                                <td style="width: 100px;">
                                                    <a href="#" data-id="@item.Id" onclick="openPopupForm('/administrator/category/OpenSubInfo/@item.Id')" class="btn btn-primary edit1" title="Edit"><i class="fa fa-edit"></i></a>
                                                    <a href="#" onclick="deleteJs('/administrator/category/DeleteSub/@item.Id')" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Notification</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-del" class="btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
@section Scripts{
    <script src="/Content/adminpages/Categories/edit.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });
        });

    </script>
}



