﻿@model BLOG.Models.Categories.CategoryViewModel
@using BLOG.Core.Constants
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Category Management</h2>
    </div>
        <div class="col-lg-3 mt-xl-3 text-right">
            <button class="btn btn-primary" onclick="openPopupForm('/administrator/category/CategoryEditor')"><i class="fa fa-plus"></i> Add</button>
        </div>
</div>
<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" asp-for="keyWord" onkeypress="searchKeypress()" placeholder="Enter search keywords ..." class="form-control form-large search-input">
                            </div>
                            <div class="btn-group btn-search">
                                <button onclick="searchClick()" class="btn btn-primary btn-filter search-face"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div data-url-refresh="/administrator/category/index">
                        <div class="table-responsive list-news">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Key Name</th>
                                        <th style="min-width: 120px;">Title</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListCategory)
                                    {
                                        <tr>
                                            <td>@item.KeyName</td>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td style="width: 100px;">
                                                <a href="#" onclick="openPopupForm('/administrator/Category/CategoryEditor/@item.Id')" data-id="@item.Id" class="btn btn-primary edit1" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a href="#" data-id="@item.Id" onclick="deleteItem('/administrator/category/delete/@item.Id')" class="btn btn-danger del" title="Delete"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingReloadPage.cshtml" />
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>

@section Scripts{
  
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>
}


