﻿@using BLOG.Core.Constants
@model BLOG.Areas.Administrator.Models.Users.ResetPasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div id="divList" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Create User</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="frmAdd" asp-controller="Users" asp-action="ChangePassword" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (TempData[Constants.TempDataKey.Success] != null)
                                    {
                                        <div class="alert alert-success" role="alert">
                                            @TempData[Constants.TempDataKey.Success].ToString();
                                        </div>
                                    }
                                    @if (TempData[Constants.TempDataKey.Error] != null)
                                    {
                                        <div class="alert alert-warning" role="alert">
                                            @TempData[Constants.TempDataKey.Error].ToString();
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">Current Password</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" asp-for="OldPassword">
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">New Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" asp-for="Password" maxlength="18" placeholder="Password from 6 - 12 characters">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Confirm Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" asp-for="ConfirmPassword" maxlength="18" placeholder="Password from 6 - 12 characters">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="clearfix form-actions submit-buttons text-center">
                                    <button class="btn btn-success" type="submit" value="Save" name="Submit">
                                        <i class="fa fa-save"></i>
                                        Update
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

