﻿@using BLOG.Core.Utility
@model BLOG.Areas.Administrator.Models.Users.UserViewModel
@{
    ViewData["Title"] = "Update user";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div id="divList" class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Edit User</h5>
                    </div>
                    <div class="ibox-content">
                        <form id="frmAdd" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.UserInfo.Id" method="post">
                            <input type="hidden" name="Password" value="@StringTools.RandomCode(10)"/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">UserName</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="UserName" class="form-control" data-bind="value:UserName" maxlength="150">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Status</label>
                                        <div class="col-sm-4">
                                            <select name="Status" class="form-control chosen-select" data-bind="foreach: StatusOptions,value: StatusId">
                                                <option data-bind="value: value, text: text"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">First name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="FirstName" class="form-control" data-bind="value:FirstName" maxlength="150">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label required">Last name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="LastName" class="form-control" data-bind="value:LastName" maxlength="150">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="Email" class="form-control" data-bind="value:Email" maxlength="150">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="clearfix form-actions submit-buttons text-center">
                                    <a class="btn btn-outline btn-danger" asp-controller="Users" asp-action="Index">Cancel</a>
                                    <button class="btn btn-success" type="button" value="Save" name="Submit" data-bind="click:Submit">
                                        <i class="fa fa-save"></i>
                                        Update
                                    </button>
                                    <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Reset
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
        var data = @Json.Serialize(Model);
        </script>
        <script src="/Content/adminpages/Users/edit.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
        <script>
            $(document).ready(function () {
                $('.chosen-select').chosen({ width: "100%" });
                $('.tagsinput').tagsinput({
                    tagClass: 'label label-primary'
                });
            });
        </script>
    }
}

