﻿@using BLOG.Core.Constants
@model BLOG.Areas.Administrator.Models.Users.UserViewModel
@{
    ViewData["Title"] = "List user";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Users Management</h2>
    </div>
    <div class="col-lg-3 mt-xl-3 text-right">
        <a class="btn btn-primary" asp-controller="Users" asp-action="Add"><i class="fa fa-plus"></i> Add</a>
    </div>
</div>
<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" data-bind="value: Keyword" placeholder="Enter search keywords ..." class="form-control form-large search-input">
                            </div>
                            <div class="btn-group">
                                <select class="form-control" data-bind="foreach: GroupOptions, value: GroupId">
                                    <option data-bind="value: value, text: text"></option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <select class="form-control" data-bind="foreach: StatusOptions, value: StatusId">
                                    <option data-bind="value: value, text: text"></option>
                                </select>
                            </div>
                            <div class="btn-group btn-search">
                                <button type="submit" class="btn btn-primary btn-filter" data-bind="click: ActionSearch"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive list-news">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Group</th>
                                <th style="width: 100px;">Status</th>
                                <th style="width: 120px;">Created date</th>
                                <th style="width: 190px;"></th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach:UserItems">
                            <tr>
                                <td data-bind="text:fullName"></td>
                                <td data-bind="text:userName"></td>
                                <td data-bind="text:email"></td>
                                <td>
                                    <!--ko foreach:groupFunctionItems-->
                                    <span class="btn btn-xs btn-info" data-bind="text:name"></span>
                                    <!--/ko-->
                                </td>
                                <td>
                                    <!--ko if:status=== @Constants.Status.Active-->
                                    <span class="btn btn-xs btn-primary">Active</span>
                                    <!--/ko-->
                                    <!--ko if:status===@Constants.Status.InActive-->
                                    <span class="btn btn-xs btn-warning">In Active</span>
                                    <!--/ko-->
                                </td>
                                <td data-bind="text:createdDate"></td>
                                <td style="width: 100px;">
                                    <a href="#" class="btn btn-primary" title="Edit" data-bind='attr:{href:"/Users/Edit/"+id}'><i class="fa fa-edit"></i></a>
                                    <!--ko if:userName.toUpperCase() !=='@User.Identity.Name.ToUpper()'-->
                                    <a href="#" class="btn btn-danger" title="Delete" data-bind="click:$parent.DeleteItem"><i class="fa fa-trash"></i></a>
                                    <!--/ko-->
                                    <a href="#" class="btn btn-info" title="Reset password" data-bind='click:$parent.ResetPassword'><i class="fa fa-key"></i></a>
                                    <a href="#" class="btn btn-info" title="Assign to group" data-bind='click:$parent.AssignGroup'><i class="fa fa-group"></i></a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingKnockout.cshtml" />
                </div>
            </div>
        </div>
    </div>
    <partial name="_Partials/_PopupUserRole.cshtml"/>
</div>
@section Scripts{
    <script type="text/javascript">
        var data = @Json.Serialize(Model);
    </script>
    <script src="/Content/adminpages/Users/index.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script>
        $(document).ready(function() {
            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>
}
