﻿@using BLOG.Core.Constants
<div class="modal inmodal" id="popupActivityLogDetail" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Activity logs <a style="color: #007bff;" data-bind='text:"#"+LogDetailInfo().sessionId'></a></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>User action:</strong> <span data-bind="text:LogDetailInfo().userName"></span></p>
                        <p><strong>Create date:</strong> <span data-bind="text:LogDetailInfo().createdDate"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>Action:</strong>
                            <!--ko if:LogDetailInfo().logType=== '@Constants.LogType.Insert'-->
                            <span class="btn btn-xs btn-primary">Insert</span>
                            <!--/ko-->
                            <!--ko if:LogDetailInfo().logType ==='@Constants.LogType.Update'-->
                            <span class="btn btn-xs btn-warning">Update</span>
                            <!--/ko-->
                            <!--ko if:LogDetailInfo().logType ==='@Constants.LogType.Delete'-->
                            <span class="btn btn-xs btn-danger">Delete</span>
                            <!--/ko-->
                            <!--ko if:LogDetailInfo().logType ==='@Constants.LogType.Search'-->
                            <span class="btn btn-xs btn-info">Search</span>
                            <!--/ko-->
                            <!--ko if:LogDetailInfo().logType ==='@Constants.LogType.SendEmail'-->
                            <span class="btn btn-xs btn-success">Send email</span>
                            <!--/ko-->
                        </p>
                    </div>
                </div>
                <div style="word-break: break-all;">
                    <p data-bind="html:LogDetailInfo().comment"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
