﻿.banking {
    margin-bottom: 100px;
}

.list-news-banking {
    margin: 30px 0 30px 0;
    box-shadow: 0px 2px 0px 0px rgba(202,196,207,1);
}

.item3 {
    margin: 30px 0 0 0 !important;
}

.learn-more {
    float: right;
}

.list-news-banking a {
    color: #0099FF;
}

.title-mobile {
    display: none !important;
}

@media only screen and (max-width: 667px) {
    .des-item {
        margin-top: 20px;
    }

    .banking {
        margin-bottom: 30px;
    }

    .item3 {
        margin: 30px 0 0 0;
        box-shadow: 0px 2px 0px 0px rgba(202,196,207,1);
    }

    .padding-20 {
        padding-top: 0px;
    }

    
}
