﻿a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
.top-space{
    width: 100%;
    height: 64px;
}
.full-width {
    padding-left: 0;
    padding-right: 0;
}
.none{
    display: none;
}
textarea:focus, input:focus {
    outline: none;
}
.test-border {
    border: 1px dotted #0062cc;
}
.text-c {
    text-align: center;
    margin: auto;
}
.text-r {
    text-align: right;
    margin: auto;
}
.text-blue{
    color:#019fdc;
}
.bg-white{
    background: #fff;
}
.section-expand {
    max-width: 1300px;
    margin: 0 auto;
}
.home-section {
    padding-top: 30px;
    padding-bottom: 20px;
}
.home-section h2 {
    padding-bottom: 8px;
}
.home-section h2 > span{
    position: relative;
}
.home-section h2 > span::after {
    border-bottom: solid 4px #019fdc;
    position: absolute;
    content: "";
    bottom: -4px;
    left: 18px;
    right: 18px;
}
.area-blue{
    background: #63a0e2;
    color: #fff;
}
.area-blue h2 > span::after {
    border-bottom: solid 4px #fff;
}
.area-gray {
    background: #f7fbfa;
}
.area-blue a {
    color: #fff;
}
.width-800 {
    max-width: 800px;
    margin: auto;
}
.width-810 {
    max-width: 810px;
    margin: auto;
}
.width-900 {
    max-width: 900px;
    margin: auto;
}
.width-1050 {
    max-width: 1050px;
    margin: auto;
}
.post-item{
    height: 100%;
}
.post-item-img {
    min-height: 200px;
    display: inline-block;
    background: url(/images/no-image.jpg);
    width: 100%;
    background-position: center;
}
.post-item img {
    background: url(/images/no-image.jpg);
    background-position: center;
    min-height: 150px;
    min-width: 100%;
}
.post-item hr {
    border-top: 2px #019fdc solid;
}
hr.hr-dotted {
    border-top: 1px #019fdc dashed;
}
.shadow-box1 {
    box-shadow: 0 2px 4px 0 rgba(253,247,247,.52), 0 2px 10px 0 rgba(61,78,71,.12);
}
.shadow-box {
    -webkit-box-shadow: 0px 4px 3px 0px #5b9494;
    -moz-box-shadow: 0px 4px 3px 0px #5b9494;
    box-shadow: 0px 4px 3px 0px #5b9494;
}
img, .max-width {
    width: 100%;
}
.btn-white {
    height: 50px;
    min-width: 200px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    padding: 0 8px;
    display: inline-grid;
    align-items: center;
    margin: 4px;
}
.btn-white.active, .btn-white:focus {
    border: 2px solid #63a0e2;
    background: #63a0e2;
    color: #fff;
    text-decoration: none;
}
.btn-white:hover {
    text-decoration: none;
    color: #3312e8;
}
.btn-wide{
    width: 250px;
}
.btn-download {
    background-color: #fff;
    color: #4990de !important;
    padding: 2px 16px 2px 60px;
    display: inline-grid;
    align-items: center;
    height: 50px;
    min-width: 200px;   
}
.btn-download:before {
    background-color: #fff;
    content: "";
    width: 50px;
    height: 50px;
    background: url(/images/download.png) no-repeat;
    position: absolute;
    margin-left: -60px;
    margin-top: -2px;
    border-right: 2px solid;
}
.uppercase {
    text-transform: uppercase;
}
.item-date{
    font-size: 14px;
}
.top-10 {
    padding-top: 10px;
}
.top-20 {
    padding-top: 20px;
}
.top-30 {
    padding-top: 30px;
}
.top-40 {
    padding-top: 40px;
}
.bottom-20 {
    padding-bottom: 20px;
}
.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.box-15 {
    padding: 15px;
}
.box-20-15{
    padding: 20px 15px;
}
.box-20 {
    padding: 20px;
}
.box-30{
    padding: 30px;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right;
}
.page-breadcrumb {
    padding: 22px 2px;
}
.page-breadcrumb .fa{
    padding: 0 6px;
}
.post-header{
    position: relative;
}
.area-paging ul{
    margin-top: 20px;
}
.pagination span {
    padding: 5px 13px;
    display: inline-block;
    border: 1px solid #bccbda;
    margin: 0 5px;
    background: #ead4d4;
}
    .post-header h1, .post-header span {
        display: inline;
        background: #fff;
        padding-right: 14px;
    }
    .post-header::after {
        content: "";
        height: 14px;
        position: absolute;
        border-top: 1px solid #123;
        right: 0;
        left: 0;
        bottom: 0px;
        z-index: -1;
    }
.view-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex{
    display: flex;
    align-items: center;
}
h1 {
    font-size: 28px;
    font-weight: normal;
}
h2, .h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
.pagination {
    margin-top: 50px;
}

    .pagination a {
        color: black;
        float: left;
        padding: 5px 13px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

.pagination {
    float: right;
}

.paging {
    padding: 0 15px 0 15px;
    width: 100%;
}

.pagination a.active {
    background-color: #63a0e2;
    color: white;
    border: 1px solid #63a0e2;
}

.pagination a i {
    font-size: 20px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.height-100{
    height: 100%;
}
.clear{
    clear:both;
}
@media (max-width: 767px) {
    h3 {
        font-size: 16px;
    }
    body{
        font-size:14px;
    }
    h1{
        font-size:20px;
    }
    .screen-large {
        display: none;
    }
}

@media (min-width: 768px) {
    .sreen-small {
        display: none;
    }
}
