﻿.items {
    background-color: #bfc8cc;
    height: 55px;
    text-align: center;
    line-height: 55px;
}

.mobile {
    display: none;
}

.content {
    margin-bottom: 150px;
}

.detail-item {
    background-color: #EEEEEE;
    height: 115px;
    text-align: center;
}

    .detail-item div p {
        padding-top: 25px;
    }

    .detail-item img {
        padding-top: 25px;
       
    }

.item2 {
    background-color: #fff !important;
}

.item4 {
    background-color: #fff !important;
}



@media only screen and (max-width: 667px) {
    .mobile {
        display: block;
    }

    .items {
        display: none;
    }

    .number-item {
        display: none;
    }

    .detail-item {
        background-color: #EEEEEE;
        text-align: center;
        height: auto;
    }

        .detail-item img {
            padding-top: 7px;
            height: 45px;
            width: auto;
        }

    p {
        font-size: 13px;
    }

    .detail-item div {
        padding: 0 0 0 0;
    }

        .detail-item div p {
            padding-top: 0px;
        }
}
