﻿.news-content {
    margin-bottom: 90px;
}

.title-detail {
    margin-top: 25px;
    padding: 0 0 0 0;
}

.row-detail {
    display: block;
    padding: 0 30px 0 30px;
}

.news-content {
    margin-top: 30px;
}

    .news-content img {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

.top-stories img {
    width: 100%;
}

.top-stories {
    margin: 30px 0 30px 0;
    box-shadow: 0px 2px 0px 0px rgba(202,196,207,1);
}

.ts-item1 {
    margin-top: 35px;
}

.img-item {
    padding-left: 0px;
}

.top-relative {
    margin-bottom: 25px;
}

@media only screen and (max-width: 667px) {
    .page-breadcrumb {
        padding-top: 8px;
    }

    .row-detail {
        display: block;
    }

    .news-content {
        margin-bottom: 50px;
    }

    .row-detail {
        display: block;
        padding: 0 15px 0 15px;
    }
}
