﻿@model BLOG.Models.Posts.PostViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<style>

    .fileinput {
        margin-bottom: 9px;
        display: inline-block;
        max-width: 100vw;
    }

        .fileinput .img-thumbnail {
            overflow: hidden;
            display: inline-block;
            margin-bottom: 5px;
            vertical-align: middle;
            text-align: center;
        }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .fileinput .img-thumbnail > img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .btn-file {
        overflow: hidden;
        position: relative;
        vertical-align: middle;
    }

    .fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
        display: none;
    }

    .btn-file > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 23px;
        height: 100%;
        width: 100%;
        direction: ltr;
        cursor: pointer;
    }
</style>

<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Edit Post</h5>
                </div>
                <div class="ibox-content">
                    <form id="frmAdd" asp-controller="Post" asp-action="Edit" class="form" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-12">
                                <input asp-for="InfoPost.Id" id="id-edit" type="text" style="display:none " class="form-control" />
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label required">Name</label>
                                    <div class="col-sm-11">
                                        <input type="text" required id="name-val" asp-for="InfoPost.Name" class="form-control" onblur="validateName()">
                                        <span id="message-name" asp-validation-for="InfoPost.Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label required">Title</label>
                                    <div class="col-sm-11">
                                        <input type="text" required id="title-val" asp-for="InfoPost.Title" class="form-control" for-slug="InfoPost.SlugUrl">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label required">Slug</label>
                                    <div class="col-sm-11">
                                        <input type="text" required id="slug" asp-for="InfoPost.SlugUrl" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label ">Image</label>
                                    <div class="fileinput fileinput-new col-sm-11" data-provides="fileinput">
                                        <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                            <img src="@Model.InfoPost.Image" />
                                        </div>
                                        <div>
                                            <span class="btn btn-primary btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input name="InfoPost.Photo" class="form-control" type="file">
                                            </span>
                                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label ">Keywords</label>
                                    <div class="col-sm-11">
                                        <input type="text" asp-for="InfoPost.Keywords" class="form-control val-OrderBy">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label">Description</label>
                                    <div class="col-sm-11">
                                        <textarea asp-for="InfoPost.Description" type="text" class="form-control"></textarea>
                                        <span asp-validation-for="InfoPost.Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-1 col-form-label">Content</label>
                                    <div class="col-sm-11">
                                        <textarea id="Content" asp-for="InfoPost.Contents"></textarea>
                                        <span asp-validation-for="InfoPost.Contents" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-2 col-form-label required ">Category</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" required placeholder="Default input" asp-for="InfoPost.CateId">
                                            <option value="" disabled selected>Choose a parent category</option>
                                            @if (Model.Cates.Any() && Model.Cates != null)
                                            {
                                                @foreach (var item in Model.Cates)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="InfoPost.CateId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-2 col-form-label ">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" asp-for="InfoPost.Status">
                                            <option value="Active">Active</option>
                                            <option value="InActive">InActive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label class="col-sm-2 col-form-label ">Tags</label>
                                    <div class="col-sm-10">
                                        <select class="form-control js-example-tags" asp-for="InfoPost.ListTag">
                                            @if (Model.ListTags.Any() && Model.ListTags != null)
                                            {
                                                @foreach (var item in Model.ListTags)
                                                {
                                                    <option value="@item.Text">@item.Text</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="display:none;">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" asp-for="InfoPost.Type">
                                                    <option value=""> </option>    
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="clearfix form-actions submit-buttons text-center">
                                <a class="btn btn-outline btn-danger" asp-controller="Post" asp-action="Index">Cancel</a>
                                <button class="btn btn-success" id="create-cate" type="submit">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                                <button class="btn" onclick="location.href = window.location.href;" type="reset">
                                    <i class="fa fa-undo"></i>
                                    Reset
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="/Content/adminpages/Posts/edit.js?ver=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script src="~/Content/adminpages/Common/ckeditorContent.js"></script>
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });
        });


    </script>
}


