﻿@model BLOG.Models.Posts.PostViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    var type = "";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Post Management</h2>
    </div>
    <div class="col-lg-3 mt-xl-3 text-right">
        <a class="btn btn-primary" asp-controller="Post" asp-action="Add"><i class="fa fa-plus"></i> Add</a>
    </div>
</div>
<div id="divList" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Search</h2>
                    <div class="filter-container">
                        <div class="btn-group btn-group-filter">
                            <div class="search-container">
                                <input type="text" asp-for="keyWord" onkeypress="searchKeypress()" placeholder="Enter search keywords ..." class="form-control form-large search-input search-input">
                            </div>
                            <div class="btn-group btn-search">
                                <button onclick="searchClick()" class="btn btn-primary btn-filter search-face"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div data-url-refresh="/administrator/post/index">
                        <div class="table-responsive list-news">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th style="min-width: 120px;">Category</th>
                                        <th>Status</th>
                                        <th>News Type</th>

                                        <th style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model.ListPosts)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.NameCate</td>
                                            @if (@item.Status == "Active")
                                            {
                                                <td><span class="btn btn-xs btn-primary">@item.Status</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="btn btn-xs btn-warning">@item.Status</span></td>
                                            }

                                            <td>@item.Type</td>

                                            <td style="width: 100px;">
                                                <a href="/administrator/Post/Edit/@item.Id" data-id="@item.Id" class="btn btn-primary edit1" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a href="#" onclick="deleteItem('/administrator/Post/Delete/@item.Id')" class="btn btn-danger del" title="Delete"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <partial name="~/Areas/Administrator/Views/Shared/_Partials/_PagingReloadPage.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
  
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });

    </script>
}

