﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BLOG.Models.Users.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link href="/Content/themes/inspinia/bootstrap.min.css" rel="stylesheet">
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/Content/themes/inspinia/animate.css" rel="stylesheet">
    <link href="/Content/themes/inspinia/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">
                    <img src="/images/vietnam-credit-logo.png" alt="VietnamCredit" />
                </h1>
            </div>
            <h3>Welcome to VietnamCredit</h3>
            <form class="m-t" role="form" asp-controller="Login" asp-action="Index" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <div class="form-group">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Username"></span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
